*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f1f3f6;
}

.navbar{
    background:#2874f0;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:#ffeb3b;
    font-size:28px;
    font-weight:bold;
}

.navbar input{
    width:40%;
    padding:10px;
    border:none;
    border-radius:5px;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

.categories{
    display:flex;
    justify-content:space-around;
    background:white;
    padding:15px;
    margin-top:10px;
}

.category{
    font-weight:bold;
    cursor:pointer;
}

.banner{
    background:#ffeb3b;
    text-align:center;
    padding:50px;
    margin:15px;
    border-radius:10px;
}

.banner h1{
    font-size:40px;
   padding: 0%;

}

.products{

    display:flex;
    padding: 20px;
    height: 10px;
    
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    padding:20px;
}

.card1{
    background:rgb(210, 221, 210);
    width:300px;
    height: 486px;
    padding:15px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card1 img{
    width:100%;
}

.card1 button{
    background:#2874f0;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:5px;
    cursor:pointer;
    margin-top:10px;
}

.card2{
    background:rgb(184, 167, 167);
    width: 300px;
    height: 486px;
    padding: 20px;
    
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card2 img{
    width:105%;
}

.card2 button{
    background:#226bd1;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:5px;
    cursor:pointer;
    margin-top:10px;
    
}
.card3{
    background:rgb(226, 197, 197);
    width:310px;
    height: 486px;
    padding:15px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card3 img{
    width:100%;
}

.card3 button{
    background:#2874f0;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:5px;
    cursor:pointer;
    margin-top:10px;
}
.card4{
    background: #ffeb3b;
    color:black;
    height: 486px;
    border:10px ;
    padding: 10px 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px #2874f0;
}
.card4 img{
    width: 105%;
}
 .card4 button{
    padding: 10px;
    background-color: #226bd1;
    color: white;
    border-radius: 7px;

 }
 .card5 {
    background : rgb(231, 219, 219);
    color: blueviolet;
    height: 486px;
    width: 300px;
    border: 10px;
    padding: 12px 10px;
    margin: 10px;
    text-align: center;
    border-radius: 13px;
 }
 .card5 img{
    width: 90%;
    
 }
 .card5 button{
    padding: 14px;
    margin: 0px;
    background-color: rgb(216, 131, 19);
    color: rgb(9, 248, 248);
    border-radius: 20px;

 }
 .footer{
    color: white;
    background-color: black;
    width: 1651px;
    height: 370px;
    display: flex;
    justify-content: space-evenly;
    padding: 34px;
    margin: 23px;
    
 }
 .footer h3{
    color: gray;
    
    
 }
 

 